/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-background-user {
  background-image: url('C:\Users\Ms\Desktop\Event Management System\Frontend\public\event1.jpg'); 
  background-size: cover;  
} 
.custom-background-org {
 background-image: url('C:\Users\Ms\Desktop\Event Management System\Frontend\public\event3.jpg'); 
background-size: cover ;
}